html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  margin: .3em;
  color: #fff;
  text-align: center;
  margin-bottom: -.25em;
}

body {
  background-color: #79756f;
  border-top: .2em solid #595652;
  border-bottom: .2em solid #595652;
  width: 100%;
  margin: 0;
  text-align: center;
  padding-bottom: .5em;
}

li {
  display: inline-block;
  list-style-type: none;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  border-radius: 4px;
  background-color: #713837;
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: .75em .6em;
}

a:hover {
  background-color: #f33;
}
