html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  }

h1 {
  font-family: 'Bevan', cursive;
  margin: .3em;
  color: #fff;
}

body {
  background-color: #79756f;
  border-top: .3em solid #595652;
  border-bottom: .3em solid #595652;
  width: 100%;
  margin: 0;
  text-align: center;

}

li {
  display: inline-block;
  list-style-type: none;
  font-family: sans-serif;
  line-height: 1.5;

}

a {
  border-radius: 4px;
  background-color: #713837;
  list-style: none;
  text-decoration: none;
  color:#fff;
  padding: .75em .6em .75em .6em;
}

a:hover {
  background-color: #f33;
}
